
.icon-mail:before { content: '\e800'; } /* '' */
.icon-leaf:before { content: '\e801'; } /* '' */
.icon-grid:before { content: '\e802'; } /* '' */
.icon-droplet:before { content: '\e803'; } /* '' */
.icon-cafe:before { content: '\e80c'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
